/* GDP per Capita Pages CSS */
#anyCgraph {
    height: 500px;
    width: 100%;
}

#gdp-slider {
    width: 100%;
}
#gdp-slider-countries {
    width: 100%;
}

ul{
    list-style-type: none;
}

#buttons{
    display:inline;
}