body {
    overflow-x: hidden;
    font-family: sans-serif;
    color: black;
    background-color: white;
}

/* Navbar CSS */

.navbar {
    text-transform: uppercase;
    font-weight: 700;
    font-size: .9rem;
    background-color: rgba(0, 0, 0, 1) !important;
}

.navbar-brand img {
    height: 40px;
    width: 150px;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
    padding-top: .8rem;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: red;
}

#navbar-loc {
    padding-bottom: 3.5rem;
}

/* Landing Page CSS */

/*
https://www.pexels.com/photo/coding-computer-data-depth-of-field-577585/
*/

.home-inner {
    background-image: url(../Resources/Images/landing-page-img.jpg);
    filter: brightness(50%);
}

.caption {
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 38%;
    z-index: 1;
    color: white;
}

.caption h1 {
    font-weight: 700;
    letter-spacing: .3rem;
    text-shadow: .1rem .1rem .8rem black;
    padding-bottom: 1rem;
}

.caption h3 {
    text-shadow: .1rem .1rem .5rem black;
    padding-bottom: 1.6rem;
}

/*** Thought this would be nicer through-out, just delete if causes problems ***/

p {
    text-align: justify;
}

.display-6 {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.2;
}

.display-7 {
    font-size: 2.0rem;
    font-weight: 300;
    line-height: 1.2;
}

.card-img-top {
    width: 100%;
    height: 15vh;
    object-fit: scale-down;
}