/* Weather Pages CSS */

#gMaps {
  height: 250px;
  width: 100%;
}

#title-bottom-space {
  margin-bottom: 0;
  padding-bottom: 0;
}

.weather-table-title {
  font-weight: 400;
}

#weather-forecast-table tr {
  padding: 0.5rem;
}

#weather-forecast-table {
  font-size: 0.9rem;
}

.easy-autocomplete {
  width: auto !important;
}