	<!-- Navigation -->
	<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">

		<a href="../../index.htm" class="navbar-brand"><img src="../../Resources/Images/nav/logo1.png" alt="GCU Data Centre"></a> <!-- NOT SHOWING FOR SOME REASON -->

		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">

			<span class="navbar-toggler-icon"></span>

		</button>

		<div id="navbarResponsive" class="collapse navbar-collapse">

			<ul class="navbar-nav ml-auto">

				<li class="nav-item"><a class="nav-link" href="../../index.htm">Overview</a></li>

				<!-- Dropdown -->
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
						Visualisations
					</a>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="../../earthquake-visualisation.htm">Earthquakes</a>
						<a class="dropdown-item" href="../../weather-visualisation.htm">Weather</a>
						<a class="dropdown-item" href="../../gdp-visualisation.htm">GDP per Capita</a>
						<a class="dropdown-item" href="../../mortality-visualisation.htm">Mortality Rate</a>
						<a class="dropdown-item" href="../../Bird_visualization.htm">Birds</a>
						<a class="dropdown-item" href="../../population.htm">Population Density</a>
					</div>
				</li>

				<!-- Dropdown -->
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
						Tutorials
					</a>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="../../GeoJSON-tutorial.htm">GeoJSON</a>
						<a class="dropdown-item" href="../../js-techniques-tutorial.htm">JavaScript Techniques</a>
						<a class="dropdown-item" href="../../earthquake-tutorial.htm">Earthquakes</a>
						<a class="dropdown-item" href="../../weather-tutorial.htm">Weather</a>
						<a class="dropdown-item" href="../../gdp-tutorial.htm">GDP per Capita</a>
						<a class="dropdown-item" href="../../mortality-tutorial.htm">Mortality Rate</a>
						<a class="dropdown-item" href="../../bird-tutorial.htm">Birds</a>
						<a class="dropdown-item" href="../../PopulationTutorial.htm">Population Density</a>
					</div>
				</li>

				<li class="nav-item"><a class="nav-link" href="../../theTeam.htm">The Team</a></li>

			</ul>

		</div>

	</nav>
	<!-- End of Navigation -->
